## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly
notifications:
  email: false
git:
  depth: 99999999
matrix:
  allow_failures:
  - julia: 0.7

script:
  - julia -e 'using Pkg; Pkg.clone(pwd()); Pkg.build("GLM"); Pkg.test("GLM"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("GLM")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("GLM")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
