name: Documentation
concurrency:
  group: ${{ github.head_ref }}.docs
  cancel-in-progress: true
on:
  push:
    branches:
      - 'master'
    tags: '*'
  pull_request:
jobs:
  Documenter:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
